/*****************************************
                  GENERAL
******************************************/
* {
  margin: 0;
  padding: 0;
  transition: all .5s;
  box-sizing: border-box;
}
body {
  font-family: 'Lora', serif;
  text-align: center;
}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 20px 5% 0;
}
ul {
    list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: 100%;
}
h3 {
  margin: 0 0 1em 0;
}
/*****************************************
                  HEADER
******************************************/
header {
  background-color: #80ccff;
}
.logo {
  margin: 0;
}
.title, .subtitle {
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.title {
  font-size: 3em;
  padding-top: 5px;
}
.subtitle {
  font-size: 1.5em;
  padding-bottom: 10px;
}
.menu {
  background-color: #33adff;
  font-size: 1.1em;
}
.menu__link, .menu__link:visited {
  display: block;
  color: #fff;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  padding: 20px;
}
.menu__link.selected{
  background-color: #2980b9;
}
.menu__link:hover {
  background-color: #2980b9;
  color: #fff;
}
/*****************************************
                  PRINCIPAL
******************************************/
.gallery__item {
  position: relative;
  float: left;
  width: 100%;
  height: 300px;
  margin: 2.5%;
  overflow: hidden;
  padding: 1%;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 3px 3px rgba(0,0,0,0.6);
}
.project__title {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 5px;
  left: 5px;
  width: 0;
  height: 0;
  background: rgba(0,0,0,.9);
}
.project__title span {
  align-self: center;
  font-size: 0;
  color: #fff;
}
.gallery__item:hover .project__title {
  width: 97%;
  height: 97%;
}
.gallery__item:hover .project__title span {
  font-size: 2em;
}
/*****************************************
                  ACERCA DE
******************************************/
.profile-photo {
  font-size: 7em;
}
/*****************************************
                  CONTACTO
******************************************/
.contact-info__item {
    padding: 5px;
}
.contact-info__icon {
  margin-right: 5px;
  font-size: 1.2em;
}
/*****************************************
                  FOOTER
******************************************/
footer {
  text-align: center;
  padding-top: 20px;
  clear: both;
  margin-top: 5em;
}
.footer__icon {
  font-size: 3em;
  margin: 5px;
  color: rgba(0, 0, 255, 0.5);
}
.footer__label {
  font-size: 1.1em;
}
