/*****************************************
                  GENERAL
******************************************/
* {
  transition: .8s;
}
body {
  font-family: 'Lora', serif;
  text-align: center;
}
.wrapper {
  /*background-color: #d9d9d9;*/
  max-width: 940px;
  margin: 0 auto;
  padding: 20px 5% 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
    color: blue;
}
img {
  max-width: 100%;
}
h3 {
  margin: 0 0 1em 0;
}

/*****************************************
                  HEADER
******************************************/
header {
  background-color: #80ccff;
}
.logo {
  margin: 0;
}
.title, .subtitle {
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.title {
  font-size: 3em;
  padding-top: 5px;
}
.subtitle {
  font-size: 1.5em;
  padding-bottom: 10px;
}
.menu {
  background-color: #33adff;
}
.menu__link, .menu__link:visited {
  display: block;
  color: #fff;
}
.menu__item {
    display: inline-block;
}
.menu__link {
    padding: 20px;
}
.menu__link.selected{
  color: blue;
}
.menu__link:hover {
    background-color: #2980b9;
    color: #fff;
}

/*****************************************
                  PRINCIPAL
******************************************/
.gallery__item {
  float: left;
  width: 45%;
  margin: 2.5%;
  color: bdc3c7;
}
.description {
  margin: 0;
  padding: 5%;
}

/*****************************************
                  ACERCA DE
******************************************/
.profile-photo {
  font-size: 7em;
}

/*****************************************
                  CONTACTO
******************************************/
.contact-info {
  
}

/*****************************************
                  FOOTER
******************************************/
footer {
  text-align: center;
  padding-top: 20px;
  clear: both;
}
.footer__icon {
  font-size: 3em;
  margin: 5px;
  color: rgba(0, 0, 255, 0.5);
}
.footer__label {
  font-size: 1.1em;
}
