@media all and (min-width: 768px) {
    /*********************************************************
                MAIN
    *********************************************************/
    .main__text--title { font-size: 9em; }
    .main__text--subtitle { font-size: 4.5em; }
    /*********************************************************
                GALLERY
    *********************************************************/
    .gallery__title--text { font-size: 4em; }
}