@media all and (max-width: 480px) {
  /*****************************************
                  GENERAL
    ******************************************/
    .menu__item {
      display: block;
      font-size: 1.2em;
    }
    .menu__link {
      padding: 10px;
    }
}

@media all and (min-width: 660px) {
    /*****************************************
                  PORTAFOLIO
    ******************************************/
    .gallery__item {
      width: 45%;
    }
    /*****************************************
                  CONTACTO
    ******************************************/
    .primary {
        width: 50%;
        float: left;
    }
    .secondary {
        width: 40%;
        float: right;
    }
}

@media all and (min-width: 1440px) {
    /*****************************************
                  PORTAFOLIO
    ******************************************/
    .gallery__item {
      width: 28%;
    }
}