@media all and (min-width: 700px) {
    .gallery {
        flex-direction: row;
        width: 95%;
    }
    .gallery__title {
        flex-basis: 100%;
    }
    .gallery__item {
        flex-basis: 45%;
    }
    .gallery__item:hover .gallery__item--title {
        font-size: 2em;
    }
}

@media all and (min-width: 970px) {
    .main__text--title {
        font-size: 10em;
    }
    .main__text--subtitle {
        font-size: 5em;
    }
    .gallery__item {
        flex-basis: 32%;
    }
}

@media all and (min-width: 1170px) {
}