<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>José Fernando García Vázquez | Web Developer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700">
    <link href="https://file.myfontastic.com/WHDo9QG48c8NBeTtijU6z5/icons.css" rel="stylesheet">    
    <link rel="stylesheet" href="../css/estilos.css">
  </head>
  <body>
    <header>
      <a href="index.html" class="logo">
        <h1 class="title">FerGv</h1>
        <h2 class="subtitle">Web Developer</h2>
      </a>
      <nav class="menu">
        <ul>
          <li class="menu__item"><a href="../index.html" class="menu__link">Portafolio</a></li>
          <li class="menu__item"><a href="acerca.html" class="menu__link">Acerca de</a></li>
          <li class="menu__item"><a href="contacto.html" class="menu__link selected">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <section class="wrapper">
      <section class="primary">
        <h3>Información general</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </section>
      <br><br>
      <section class="secondary">
        <h3>Detalles del contacto</h3>
        <ul class="contact-info">
          <li class="contact-info__item"><a href="tel:12-34-56-78"><i class="icon-phone contact-info__icon"></i>12-34-56-78</a></li>
          <li class="contact-info__item"><a href="mailto:mail@mail.com"><i class="icon-mail contact-info__icon"></i>mail@mail.com</a></li>
          <li class="contact-info__item"><a href="twitter.com"><i class="icon-twitter contact-info__icon"></i>@FerGv</a></li>
        </ul>
      </section>
    </section>

    <footer>
      <a href="" class="footer__icon"><i class="icon-facebook"></i></a>
      <a href="" class="footer__icon"><i class="icon-github"></i></a>
      <a href="" class="footer__icon"><i class="icon-twitter"></i></a>
      <p class="footer__label">&copy; 2017 FerGv</p>
    </footer>
  </body>
</html>
